/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cores principais */
:root {
    --rosa: #961a3e;
    --bege: #f5fbf8;
    --preto: #333;
}
a {
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    color: var(--preto);
    background-color: var(--bege);
    line-height: 1.6;
}

/* Cabeçalho */
header {
    position: sticky;
    background-color: var(--bege);
    color: var(--rosa);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    font-size: 24px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

header nav ul li a {
    color: var(--rosa);
    text-decoration: none;
    font-weight: bold;
}

/* Seção Banner */
.banner {
    text-align: center;
    padding: 30px 20px;
    background-color: var(--rosa);
    color: var(--bege);
    border-radius: 10px;
}

.banner h2 {
    font-size: 36px;
}

.banner p {
    font-size: 18px;
}

/* Seções internas */
main {
    padding: 20px;
}

.contato {
    margin: 30px 0;
    text-align: center;
}

.sobre {
    max-width: 800px;
    text-align: center;
    margin: 30px auto;
    padding: 20px;
    background-color: #fdfdfd; 
    border: 2px solid var(--rosa);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.sobre .texto {
    margin-bottom: 50px;
}

.sobre h3, .contato h3, .galeria h3, .inicio h3 {
    font-size: 24px;
    color: var(--rosa);
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding-left: 20px;
}

/* Galeria */
.inicio {
    text-align: center;
    margin: 30px auto; 
    padding: 20px;
    background-color: #fdfdfd; 
    border: 2px solid var(--rosa);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
}

.galeria {
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.grid .item {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.grid .item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.grid .item img:hover {
    transform: scale(1.1);
}

/* Rodapé */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: var(--rosa);
    color: white;
    z-index: 1;
}

/* Cardápio */
.menu {
    padding: 20px;
    display: flex;
    justify-content: space-between; 
    gap: 10px;
}

.menu h2 {
    font-size: 28px;
    text-align: center;
    color: var(--rosa);
    margin-bottom: 20px;
}

.categoria {
    border:2px solid;
    border-color: var(--rosa);
    width: 30%;
    padding: 20px; 
    text-align: center; 
    border-radius: 10px; 
}


/* Fundo da categoria "Bolos Personalizados" */
.fundo-imagem-bolo {
    position: relative;
    background-image: url('imagens/fatiadebolo.png');
    background-size: cover;
    background-position: center;
    padding: 40px;
    color: var(--preto);
    overflow: hidden; 
}

.fundo-imagem-bolo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(254, 253, 253, 0.74); 
}

.fundo-imagem-bolo h3,
.fundo-imagem-bolo .descrição-categoria, .fundo-imagem-bolo li {
    position: relative;
    z-index: 1; /* Coloca o texto sobre a camada semitransparente */
}

/* Fundo da categoria "Doces Finos" */
.fundo-imagem-doce {
    position: relative;
    background-image: url('imagens/doce.bombom.jpg'); 
    background-size: cover;
    background-position: center;
    padding: 40px;
    color: var(--preto);
    overflow: hidden; 
}

.fundo-imagem-doce::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(254, 253, 253, 0.74); 
}

.fundo-imagem-doce h3,
.fundo-imagem-doce .descrição-categoria, .fundo-imagem-doce li {
    position: relative;
    z-index: 1; 
}

/* Fundo da categoria "kit" */
.fundo-imagem-kit {
    position: relative;
    background-image: url('imagens/kit degustação4.jpg');
    background-size: cover;
    background-position: center;
    padding: 40px;
    color: var(--preto);
    overflow: hidden; 
}

.fundo-imagem-kit::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(254, 253, 253, 0.74); 
}

.fundo-imagem-kit h3, .fundo-imagem-kit .descrição-categoria, .fundo-imagem-kit li {
    position: relative;
    z-index: 1; 
}

.categoria h3 {
    font-size: 24px;
    color: var(--rosa);
    margin-bottom: 10px;
}

.categoria ul {
    list-style: none;
    padding: 0px;
    margin: 0;
    text-align: left;
}

.categoria ul li {
    margin-bottom: 10px;
}

.categoria ul li a {
    text-decoration: none;
    color: var(--preto);
}

.categoria ul li a:hover {
    text-decoration: underline;
    color: var(--rosa);
}

.descrição-categoria {
    margin-bottom: 30px;
    text-align: left;
}


/* Detalhes dos Produto */
.detalhes {
    padding: 20px;
    text-align: center;
}

.detalhes h2 {
    font-size: 28px;
    color: var(--rosa);
    margin-bottom: 20px;
}

.delado {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.produto {
    background-color: var(--bege);
    padding: 20px; 
    border: 2px solid var(--rosa);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: 0 20px 10px 20px; 
    width: 50dvw; 
    max-height: 100%;
    overflow: auto;
}

.produto p {
    margin: 10px 0;
    text-align: justify;
    overflow-wrap: break-word;
    overflow: auto;
}

.produto ul {
    list-style: disc;
    margin-left: 20px;
    overflow: auto;
}

.produtofoto {
    border: 2px solid var(--rosa);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 10px; 
    width: 50dvw; 
    height: 50dvw;
    overflow: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.produtofoto img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto; 
    height: auto; 
    border-radius: 10px; 
}

/* Botão */
.btn-voltar {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px 20px;
    background-color: var(--rosa);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn-voltar:hover {
    background-color: var(--preto);
    color: white;
}

/* Tela de Orçamento  */
.orçamento {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fdfdfd;
    border: 2px solid var(--rosa);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.orçamento h3 {
    text-align: center;
    color: var(--rosa);
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fafafa;
}

.form-group input:focus, .form-group textarea:focus {
    border-color: var(--rosa);
    outline: none;
    box-shadow: 0 0 5px var(--rosa);
}

textarea {
    resize: vertical;
}

button.btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: var(--rosa); 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}